body{
    margin: 0px;
}
div{
    height: 200px;
    width: 200px;
    background-color: yellow;
    padding: 10px;
    border: 5px solid black;
}

#two{
    border: 10px solid black;
    margin-left: 230px;
    background-color: green;
}

#three{
    border: 20px solid black;
    margin-left: 470px;
    background-color: brown;
}

#four{
    border: 40px solid black;
    margin-left: 730px;
    background-color: blue;
}

#five{
    border: 80px solid black;
    margin-left: 1030px;
    background-color: orange;
}